{% extends '../layouts/main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form action="/login" method="post">
    <div>
        <label>Email/username:</label>
        <input type="text" name="login" value="{{ reqBody.login }}" />
        {{ errors.loginError }}
        {{ errors.message }}
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" value="{{ reqBody.password }}" />
        {{ errors.passwordError }}
    </div>
    <div><input type="checkbox" name="rememberme"/>Remember Me</div>
    <div><input type="submit" value="Login"/> or <a href="/register">register</a></div>
</form>
{% endblock %}